<div id="header">
  <div id="title">
    <h1 >Doctor's Office<h1>
        <h5>AN EPICODUS STUDENT PROJECT<h5>
  </div>
  <div class="text-span">
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
    <p>|</p>
    <p>@Html.ActionLink("Specialties", "Index", "Specialties")</p>
    <p>|</p>
    <p>@Html.ActionLink("Doctors", "Index", "Doctors")</p>
    <p>|</p>
    <p>@Html.ActionLink("Patients", "Index", "Patients")</p>
  </div>
</div>